html,
body {
	height: 100%;
}

.container {
	height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

#colorswitch-canvas-div {
  flex-grow: 1;

  // display: flex;
  // flex-flow: row wrap;

	// height: 100%;
  // min-height: 100%;
	// display: flex;
	// flex-direction: column;
}

#colorswitch-canvas-container {
  // height: 100%;
  // min-height: 100%;

  display: flex;
  flex-flow: row wrap;
}

.im-canv {
  padding: 5px; // keep in sync with CANVAS_PAD4 in `app.rs`
}

// .spacer {
//   width: 10px;
//   height: 10px;
// }
